{{! navigation }}
<div class="main-nav__menu">
    <ul>
        {{#foreach navigation}}
            <li class="nav-{{slug}}{{#if current}} nav-current{{/if}}" role="presentation">
                <a href="{{url absolute="true"}}">
                    <span class="nav_menuitem-name">
                        {{label}}
                    </span>
                </a>
            </li>
        {{/foreach}}
    </ul>
</div>
