<nav class="pagination" role="navigation">
    {{#if prev}}
        <a rel="next" class="newer-posts" href="{{page_url prev}}"><i class="fa fa-chevron-left"></i>&nbsp;上一页</a>
    {{/if}}
    <span class="page-number">Page {{page}} of {{pages}}</span>
    {{#if next}}
        <a rel="prev" class="older-posts" href="{{page_url next}}">下一页&nbsp;<i class="fa fa-chevron-right"></i></a>
    {{/if}}
</nav>
