<!-- 全局搜索 -->
<div class="site-search is-hidden">
  {{!-- search form --}}
  <div class="search-form container">
    <span class="input-prefix">
      <i class="fa fa-2x fa-search"></i>
    </span>
    <input id="ghost-search-field" class="search-field" type="text" placeholder="{{t "Search"}}..." />
  </div>

  {{!-- search results --}}
  <div class="search-list container">
    <div id="ghost-search-results" class="search-results"></div>
  </div>
</div>
