<div id="sidebar" class="sidebar col-md-4 col-lg-4">
    {{#is "index"}}
        {{> "profile"}}
    {{/is}}
    {{!tag_cloud limit="all"}}
    {{> "tag_cloud"}}
    {{#is "post"}}
        {{> "toc"}}
    {{/is}}
</div>
