{{! 社交信息 }}
<nav class="navigation social">
    <ul class="social">
        <li><a href="http://weibo.com/17064042" class="social-weibo" data-original-title="新浪微博" title="" data-rel="tooltip"><i class="fa fa-2x fa-weibo"></i></a></li>
        <li><a href="https://github.com/xiaoluoboding" class="social-github"><i class="fa fa-2x fa-github"></i></a></li>
        <li><a href="http://music.163.com/#/user/home?id=18953599" class="social-music"><i class="fa fa-2x fa-music"></i></a></li>
        <li><a href="mailto:xiaoluoboding@gmail.com" class="social-mail"><i class="fa fa-2x fa-envelope-o"></i></a></li>
        <li><a href="/rss/" class="social-rss"><i class="fa fa-2x fa-rss"></i></a></li>
    </ul>
</nav>
