{{! 社交信息 }}
<nav class="navigation social">
    <ul class="social">
        <li>
            <a href="http://weibo.com/17064042" class="social-weibo">
                <i class="fa fa-xlg fa-weibo" data-original-title="新浪微博" data-rel="tooltip"></i>
            </a>
        </li>
        <li>
            <a href="https://github.com/xiaoluoboding" class="social-github">
                <i class="fa fa-xlg fa-github" data-original-title="GitHub主页" data-rel="tooltip"></i>
            </a>
        </li>
        <li>
            <a href="http://music.163.com/#/user/home?id=18953599" class="social-music">
                <i class="fa fa-xlg fa-music" data-original-title="网易云音乐" data-rel="tooltip"></i>
            </a>
        </li>
        <li>
            <a href="mailto:xiaoluoboding@gmail.com" class="social-mail">
                <i class="fa fa-xlg fa-envelope-o" data-original-title="私信博主" data-rel="tooltip"></i>
            </a>
        </li>
        <li>
            <a href="/rss/" class="social-rss">
                <i class="fa fa-xlg fa-rss" data-original-title="订阅本站" data-rel="tooltip"></i>
            </a>
        </li>
    </ul>
</nav>
