{{! TOC }}
{{#is "post, page"}}
   <!-- ... content to render if the current route represents a post or a page ... -->
   <div class="widget widget-toc">
       <div class="widget-title">
           <span>文章目录</span>
       </div>
       <ul id="toc"></ul>
   </div>
{{/is}}
