{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

{{! The big featured header }}
{{> "header"}}

{{! The main container area on the homepage }}
<main id="container" class="container" role="main">

    {{! The tag below includes the post loop - partials/loop.hbs }}
    {{> "loop"}}

    {{> "sidebar"}}

</main>
